<%- include('partials/header') %>
<main>
    <h1><%= title %></h1>
    <h2>Upcoming Service Projects</h2>
    <ul>
        <% projects.forEach(project=> { %>
            <li class="projects">
                <h3><%= project.title %></h3><br>
                <strong>Description:</strong> <%= project.description %><br>
                <p>Project will be executed on <%= project.project_date.toDateString() %> at <%= project.location %> by <%= project.name %></p><br> 
            </li>
       <% }); %>
    </ul>
</main>
<%- include('partials/footer') %>